<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css">
		<meta charset="UTF-8">
		<title>匯率換算</title>
		<script type="text/javascript">
			function change() {
				var fromValue = document.getElementById('from').value;
				var fromTo = document.getElementById('to').value;
				// 置換
				document.getElementById('from').value = fromTo;
				document.getElementById('to').value = fromValue;
			}
		</script>
	</head>
	<body style="padding: 15px">
		<form class="pure-form" method="post" action="/JavaWeb_20220705/mvc/controller/exchange">
			<fieldset>
				<legend>匯率換算</legend>
				金額: <input type="number" placeholder="請輸入金額" name="amount" /><p />
				換匯: 
				<select name="from" id="from">
						<option value="TWD" selected>台幣</option>
						<option value="USD">美金</option>
						<option value="JPY">日幣</option>
						<option value="CNY">人民幣</option>
						<option value="EUR">歐元</option>
				</select>
				<span onclick="change()" style="cursor: pointer;" title="按我一下可以置換">轉</span>
				<select name="to" id="to">
						<option value="TWD">台幣</option>
						<option value="USD" selected>美金</option>
						<option value="JPY">日幣</option>
						<option value="CNY">人民幣</option>
						<option value="EUR">歐元</option>
				</select>
				<p />
				<button type="reset" class="pure-button pure-button-primary">重置</button>
				<button type="submit" class="pure-button pure-button-primary">傳送</button>
			</fieldset>
		</form>
		
	</body>
</html>